<div class="container-fluid">
    <div class="row">
        <div class="col header1">
                <i class='fas fa-list'></i> <span>Action</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <mat-card class="new-pan card">
                <mat-card-content>
                    <a routerLink="/home/jqxdemo">
                        <i class='far fa-address-card'></i> New PAN Card
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3 col-sm-12">
            <mat-card class="update-pan card">
                <mat-card-content>
                    <a routerLink="/home/update-pan">
                        <i class='fas fa-edit'></i> Update PAN Card
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card class="birth-certificate card">
                <mat-card-content>
                    <a routerLink="/home/birth">
                        <i class='fas fa-id-card-alt'></i>  Birth Certificate
                    </a>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-3">
           <mat-card class="death-certificate card">
                <mat-card-content>
                        <a routerLink="/home/death">
                    <i class='fas fa-bed'></i>Death Certificate
                    </a>
                </mat-card-content>
          </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <mat-card class="i-d-c card">
                <mat-card-content>
                    <a routerLink="/home/icd">
                    <i class='fas fa-file-alt'></i>  Income/Domicile/
                      Caste
                    </a>
                </mat-card-content>
            </mat-card>
        </div> 
</div>