.container-fluid
{
    background-color:#eeeeee;
   
}


.header1{
    background-color:white;
    height:30px;
    margin-top:10px;
    margin-left:25px;
    margin-right:25px;
   
}
span{
    padding-left:6px;
    font-size:18px;
    padding-bottom:10px;
    font-weight:500;
}

.card {
    margin-top:30px !important;
    margin:10px;
    /* max-width:600px; */
    height:100px;
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
    border:1px solid white;
    border-radius:0px;
    padding-top:30px;
    padding-bottom:20px;
    padding-left:12px;
    font-size:18px;
    font-weight:500;
    color:white;
    /* text-transform: uppercase; */
  }
  .col{
   padding:2px;
  }
  .row{
     
      margin-right:0px;
      padding-right:0px;
      margin-left:0%;
     
  }
  
  .new-pan{
    background-color:#4875b4;
    
  }
  .update-pan{
      background-color:#868f27;
  }
  .birth-certificate{
   background-color: #d95043;

  }
  .death-certificate{
    background-color: #9c2ba7;
  }
  .i-d-c{
    background-color: #659fb1;
  }
  .demo-api{
    background-color: #a33b7b;
  }
  .grid{
    background-color: #e99c0e;
  }
  .api{
    background-color: #8cbe3b;
  }
  .fa-list{
      padding-left:4px;
      font-size:18px;
  }
  i{
      padding-right:6px;
      font-size:24px;
  }
  .fa-bed{
     padding-right:10px;
  }
  a{
      color:white;
      text-decoration: none;
  }
  
 